<div class="container">
  <h2>{{ esNuevo ? 'Crear Nuevo Casting' : 'Editar Casting' }}</h2>
  <form [formGroup]="castingForm" (ngSubmit)="guardarCasting()">
    <div class="form-group">
      <label for="personaje">Personaje:</label>
      <input type="text" class="form-control" id="personaje" formControlName="Personaje">
    </div>
    <div class="form-group">
      <label for="peliculaId">ID de la Película:</label>
      <input type="text" class="form-control" id="peliculaId" formControlName="PeliculasId">
    </div>
    <div class="form-group">
      <label for="heroeId">ID del Héroe:</label>
      <input type="text" class="form-control" id="heroeId" formControlName="HeroesId">
    </div>
    <button type="submit" class="btn btn-primary">{{ esNuevo ? 'Crear' : 'Guardar' }}</button>
    <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
  </form>
</div>
