<div class="container">
  <h2>{{ isNew ? 'Nuevo Héroe' : 'Editar Héroe' }}</h2>

  <form [formGroup]="heroForm" (ngSubmit)="saveHero()">
    <div class="form-group">
      <label for="Nombre">Nombre</label>
      <input type="text" id="Nombre" formControlName="Nombre" class="form-control" />
      <div *ngIf="heroForm.get('Nombre')?.invalid && heroForm.get('Nombre')?.touched" class="text-danger">
        El nombre es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="Aparicion">Aparición</label>
      <input type="text" id="Aparicion" formControlName="Aparicion" class="form-control" />
      <div *ngIf="heroForm.get('Aparicion')?.invalid && heroForm.get('Aparicion')?.touched" class="text-danger">
        La aparición es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="Bio">Biografía</label>
      <textarea id="Bio" formControlName="Bio" class="form-control"></textarea>
      <div *ngIf="heroForm.get('Bio')?.invalid && heroForm.get('Bio')?.touched" class="text-danger">
        La biografía es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="Casa">Casa</label>
      <input type="text" id="Casa" formControlName="Casa" class="form-control" />
      <div *ngIf="heroForm.get('Casa')?.invalid && heroForm.get('Casa')?.touched" class="text-danger">
        La casa es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="Img">URL de la Imagen</label>
      <input type="text" id="Img" formControlName="Img" class="form-control" />
      <div *ngIf="heroForm.get('Img')?.invalid && heroForm.get('Img')?.touched" class="text-danger">
        La URL de la imagen es requerida.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="heroForm.invalid">
      {{ isNew ? 'Crear' : 'Guardar' }}
    </button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">
      Cancelar
    </button>
  </form>
</div>
