<h2>{{ esNueva ? 'Agregar Nueva Imagen' : 'Editar Imagen' }}</h2>

<form [formGroup]="imagenForm" (ngSubmit)="guardarImagen()">
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <input type="text" id="descripcion" formControlName="Descripcion" class="form-control">
    <div *ngIf="imagenForm.get('Descripcion')?.invalid && (imagenForm.get('Descripcion')?.dirty || imagenForm.get('Descripcion')?.touched)" class="text-danger">
      La descripción es requerida.
    </div>
  </div>

  <div class="form-group">
    <label for="url">URL de la Imagen</label>
    <input type="text" id="url" formControlName="Url" class="form-control">
    <div *ngIf="imagenForm.get('Url')?.invalid && (imagenForm.get('Url')?.dirty || imagenForm.get('Url')?.touched)" class="text-danger">
      La URL de la imagen es requerida.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">{{ esNueva ? 'Agregar' : 'Guardar' }}</button>
  <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
</form>
