<div class="container">
  <h2>{{ idPelicula === 'nuevo' ? 'Nueva Película' : 'Editar Película' }}</h2>

  <form (ngSubmit)="guardar()" #forma="ngForm">
    <div class="form-group">
      <label><b>ID</b></label>
      <input
        [(ngModel)]="unaPelicula._id"
        name="_id"
        type="text"
        class="form-control"
        placeholder="Id"
        required
        disabled
      />
    </div>

    <div class="form-group">
      <label><b>Título</b></label>
      <input
        [(ngModel)]="unaPelicula.Titulo"
        name="Titulo"
        type="text"
        class="form-control"
        placeholder="Título"
        required
      />
    </div>

    <div class="form-group">
      <label><b>Descripción</b></label>
      <textarea
        [(ngModel)]="unaPelicula.Descripcion"
        name="Descripcion"
        class="form-control"
        placeholder="Descripción"
        required
        rows="4"
        cols="60"
      ></textarea>
    </div>

    <div class="form-group">
      <label><b>Fecha de Lanzamiento</b></label>
      <input
        [(ngModel)]="unaPelicula.FechaLanzamiento"
        name="FechaLanzamiento"
        type="date"
        class="form-control"
        placeholder="Fecha de Lanzamiento"
        required
      />
    </div>

    <div class="form-group">
      <label><b>URL de la Imagen</b></label>
      <input
        [(ngModel)]="unaPelicula.Img"
        name="Img"
        type="text"
        class="form-control"
        placeholder="URL de la Imagen"
        required
      />
      <img [src]="unaPelicula.Img" class="img-thumb" *ngIf="unaPelicula.Img" />
    </div>

    <button [disabled]="!forma.valid" type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
